.menu {
  &-circular {
    position: absolute;
    top: 16vh;
    left: 30vw;

    &__container {
      font-size: 20px;
      height: 60vh;
      width: 40vw;
    }
    &__button {
      display: none;
        &:checked {
        & + .menu-circular__icon {
          & > .hamburger-bar {
            &:nth-child(1) {
              transform: translate3d(0, 0, 0) rotate(45deg);
            }
          }
        }
      }
      &:checked {
        & + .menu-circular__icon {
          & > .hamburger-bar {
            &:nth-child(2) {
              transform: translate3d(0, 0, 0) scale(0.1, 1);
            }
            &:nth-child(3) {
              transform: translate3d(0, 0, 0) rotate(-45deg);
            }
          }
        }
        & ~ .menu-circular__item {
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          &:nth-of-type(1) {
            transition-duration: 0.18s;
            transform: translate3d(0px, -105px, 0);
          }
          &:nth-of-type(2) {
            transition-duration: 0.28s;
            transform: translate3d(99.86093418px, -32.446784369999996px, 0);
          }
          &:nth-of-type(3) {
            transition-duration: 0.38s;
            transform: translate3d(61.71745146px, 84.94678437px, 0);
          }
          &:nth-of-type(4) {
            transition-duration: 0.48s;
            transform: translate3d(-61.71745146px, 84.94678437px, 0);
          }
          &:nth-of-type(5) {
            transition-duration: 0.58s;
            transform: translate3d(-99.86093418px, -32.446784369999996px, 0);
          }
        }
      }
    }
    &__icon {
      background: #dc143c !important;
      border-radius: 100%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.25) !important;
      color: #fff !important;
      height: 80px;
      line-height: 80px;
      margin-left: -40px;
      position: absolute;
      text-align: center;
      top: 20vh;
      left: 20vw;
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 0.2s;
      width: 80px;
      cursor: pointer;
      transform: scale(1.1, 1.1) translate3d(0, 0, 0);
      transition-duration: 0.4s;
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      z-index: 2;
      &:hover {
        transform: scale(1.2, 1.2) translate3d(0, 0, 0);
      }
      & > .hamburger {
        background: #fff !important;
        display: block;
        width: 25px;
        height: 3px;
        left: 50%;
        margin-left: -12.5px;
        margin-top: -1.5px;
        position: absolute;
        top: 50%;
        transition: transform 0.2s;
      }
      & > .hamburger-bar {
        &:nth-child(1) {
          transform: translate3d(0, -8px, 0);
        }
        &:nth-child(2) {
          transform: translate3d(0, 0, 0);
        }
        &:nth-child(3) {
          transform: translate3d(0, 8px, 0);
        }
      }
    }
    &__item {
      background: #dc143c !important;
      border-radius: 100%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.25) !important;
      color: #fff !important;
      height: 80px;
      line-height: 80px;
      margin-left: -40px;
      padding-top: 0.15em;
      position: absolute;
      text-align: center;
      top: 20vh;
      left: 20vw;
      transform: translate3d(0, 0, 0);
      transition: transform ease-out 0.2s;
      width: 80px;
      font-size: 32px;

      &:nth-of-type(1) {
        transition-duration: 0.18s;
      }
      &:nth-of-type(2) {
        transition-duration: 0.18s;
      }
      &:nth-of-type(3) {
        transition-duration: 0.18s;
      }
      &:nth-of-type(4) {
        transition-duration: 0.18s;
      }
      &:nth-of-type(5) {
        transition-duration: 0.18s;
      }
      &:hover {
        color: #dc143c !important;
        background: #f08080 !important;
      }
      &:active,
      &:focus {
        color: #8b0000 !important;
      }
    }
  }
}
